<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Computador</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div class="container">
        <header class="header"> 
            <img src="/static/inss-logo.png" alt="Logo INSS" class="logo">
        </header>

        <div class="top-btns">
            <a class="as" href="/"><button type="button" style="opacity: 70%;" class="button">Consulta</button></a>
            <a class="as" href="/selecao"><button type="button" style="opacity: 90%;" class="button">Cadastro</button></a>
        </div>

        <h1>Cadastro de Computador</h1>
        <div class="form-section">
            <form id="cadastroForm" class="form-group">
                <input type="text" id="id_tomb" name="id_tomb" placeholder="Nº de tombamento" class="form-input" required>
                <select id="qnt_ram" name="qnt_ram" class="form-select" required>
                    <option value="" disabled selected>Quantidade de memória RAM</option>
                    <option value="0">Sem memória RAM</option>
                    <option value="1">1 GB</option>
                    <option value="2">2 GB</option>
                    <option value="4">4 GB</option>
                    <option value="6">6 GB</option>
                    <option value="8">8 GB</option>
                    <option value="12">12 GB</option>
                    <option value="16">16 GB</option>
                </select>
                <select id="qnt_armaz" name="qnt_armaz" class="form-select" required>
                    <option value="" disabled selected>Quantidade de Armazenamento</option>
                    <option value="0">Sem Armazenamento</option>
                    <option value="120">120 GB</option>
                    <option value="128">128 GB</option>
                    <option value="160">160 GB</option>
                    <option value="320">320 GB</option>
                    <option value="500">500 GB</option>
                    <option value="1000">1 TB</option>
                </select>
                <select id="tipo_armaz" name="tipo_armaz" class="form-select" required>
                    <option value="" disabled selected>Tipo de Armazenamento</option>
                    <option value="NAN">Sem Armazenamento</option>
                    <option value="HDD">HDD</option>
                    <option value="SSD">SSD</option>
                </select>
                <select id="marca" name="marca" class="form-select" required>
                    <option value="" disabled selected>Marca</option>
                    <option value="positivo">Positivo</option>
                    <option value="Lenovo">Lenovo</option>
                    <option value="daten">Daten</option>
                </select>
                <select id="funcionando" name="funcionando" class="form-select" required>
                    <option value="" disabled selected>Funcionando?</option>
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
                <input type="text" id="locat_do_disp" name="locat_do_disp" placeholder="Local Atual do Dispositivo" class="form-input" required>
                <textarea id="descricao" name="descricao" placeholder="Descrição" class="form-input desc"></textarea>
                <div class="date_div">
                    <p>Data da Análise:</p>
                    <input type="date" id="data_de_an" name="data_de_an" class="form-input" required>
                </div>
                <button type="submit" class="button">Cadastrar</button>
            </form>
        </div>
    </div>
</body>
<script src="../static/inss.js"></script>
<script src="/static/script.js"></script>
</html>