<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="static/inss-logo.ico" />
    <title>SINGED INSS - Login Administrador</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/static/style.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script>
       $(function () {
          $("#header").load("../static/header.html");
          $("#footer").load("../static/footer.html");
       });
    </script>
</head>
<body>

    <div class="container"><div id="header"></div></div>

    <div class="container">
        <div class="login-container">
            <h2 style="color: #0047a5;">Login do Administrador</h2>
            {% if error %}
            <div class="error-message">
                {{ error }}
            </div>
            {% endif %}
            <form action="/login" method="POST" class="login-form">
                <div class="form-group">
                    <label for="username">Usuário:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="button">Entrar</button>
            </form>
        </div>
        
    </div>
    <div class="container"><div id="footer"></div></div>
</body>
</html> 