<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=1.0">
    <title>SINGED INSS - selecione</title>
    <link rel="stylesheet" href="/static/style.css">
    

</head>
<body>
    <div class="container">
        <header class="header">
            <img src="/static/inss-logo.png" alt="Logo INSS" class="logo">
        </header>

        <div class="top-btns">
            <a class="as" href="/"><button type="button" style="opacity: 70%;" class="button">Consulta</button></a>
            <a class="as" href="/selecao"><button type="button" style="opacity: 90%;" class="button">Cadastro</button></a>
        </div>

        <div class="form-section">
            <form class="form-group" id="deviceForm">
                <select class="form-select" id="deviceType" name="device_type" required>
                    <option value="" disabled selected>Tipo de dispositivo</option>
                    <option value="computador">Computador</option>
                    <option value="monitor">Monitor</option>
                    <option value="impressora">Impressora</option>
                    <option value="switch">Switch</option></a>
                    <option value="scanner">Scanner</option>
                    <option value="teclado">Teclado</option>
                </select>
                <button type="submit" class="button">Selecionar</button>
            </form>
        </div>
    </div>
    <script src="../static/inss.js"></script>
    <script>
        document.getElementById('deviceForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            const deviceType = document.getElementById('deviceType').value;

            try {
                const response = await fetch('http://127.0.0.1:8000/dispositivos/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ device_type: deviceType }),
                });

                if (!response.ok) {
                    throw new Error('Failed to connect to the server. Please try again later.');
                }

                const result = await response.json();
                alert('Device registered successfully: ' + JSON.stringify(result));

                if (deviceType === 'computador') {
                    window.location.href = '/cadpc';
                } else {
                    window.location.href = '/cadother';
                }
            } catch (error) {
                console.error('Error:', error);
                alert('Error connecting to the server: ' + error.message);
            }
        });
    </script>
</body>
</html>